<%- include header %>

<% if (locals.user) { %>
	<div class='user-name msg'>
		<p>Welcome <%= locals.user.name %> !</p>
	</div>
<% } %>

<% posts.forEach(function(post, index){ %>
    <p>
    	<h2>
    		<a href="/<%= post.user %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
    	</h2>
    </p>
	<p class="info">
        作者：<a href="/<%= post.user %>"><%= post.user %></a> |
        日期：<%= post.time.minute %> |
        标签：
        <% if(post.tags) { %>
			<% post.tags.forEach(function(tag, index){ %>
			    <% if(tag.tag){ %>
			    <a class="tag" href="/tags/<%= tag.tag %>"><%= tag.tag %></a>
			    <% } %>
			<% }) %>
		<% } %>
    </p>
    <p><%- post.post %></p>
    <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
<% }) %>

<%- include paging %>
<%- include footer %>